
@{
    ViewBag.Title = VendorSystem.Resources.Resource.Main;

}

<div class="container" style="width:98%;margin-top:10px">
    <div class="panel">
        <div class="panel-body">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <img src="@Session["LogURL"]"  style="width:300px; height:300px"/>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>

